@font-face {
    font-family: MontThin;
    src: url(./fonts/Montserrat-Ace-Light.otf);
}
@font-face {
    font-family: MontReg;
    src: url(./fonts/Montserrat-Ace-Regular.otf);
}
@font-face {
    font-family: MontMed;
    src: url(./fonts/Montserrat-Ace-Medium.otf);
}
@font-face {
    font-family: MontSbld;
    src: url(./fonts/Montserrat-Ace-SemiBold.otf);
}
@font-face {
    font-family: Montbld;
    src: url(./fonts/Montserrat-Ace-Bold.otf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    border: 1px solid red;
    width: 100%;
    height: 100vh;

    background-color: #f5f7f7;

    display: flex;
    justify-content: center;
    align-items: center;

}

                                        /* MAIN  */
.main{
    /* border: 1px solid blue; */
    border-radius: 10px;

    background-color: #1F1E24;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 95%;
    height: 90vh;



    box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}
               
                                        /* Div - 1 */
.div-1 ul{
    /* border: 1px solid orange; */
    
    /* border: 1px solid orange; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.5em;
    margin: 1.8em 0em 2em 2em;

    width: 100%;
    color: #fff;
    font-family: MontReg;
}
.div-1 ul li{
    list-style-type: none;
}
.div-1 ul li a{
    border: none;
    text-decoration: none;
    color: #fff;

    font-family: MontReg;

    padding: 0.5em;
}
.div-1 ul li a:hover{
    border-bottom: 2px solid #F8B179;
    transition: .1s all;
}

/* COPYRIGHT */
.copy{
    /* border: 1px solid orange; */
   opacity: 0.7;
}

/* ALREADY HOVERED */
#login{
    border-bottom: 2px solid #F8B179;
}

                                        /* DIV 2 */
.div-2{
    /* border: 1px solid orange; */

    padding: 0.5em;
    margin: 0em 0em 1em 3em;

    width: 40%;

    color: #fff;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    line-height: 28px;
}
.div-2 h1{
    font-family: MontBld;
}
.div-2 h4{
    font-family: MontSbld;
}

                                            /* DIV 3 */
.div-3{
    /* border: 1px solid orange; */
    margin-left: 3em;
}
.div-3 form{
    /* border: 1px solid orange; */

    width: 100%;
    height: auto;

    padding: 0.5em;
    gap: 1em;
    margin: 0em 0em 0em 0em;

    display: flex;
    flex-direction: column;

}
fieldset{
    border: 0.5px solid #F8B179;
    border-radius: 2px;
    padding: 0.5em;
}
legend{
    color: #fff;
    font-family: MontReg;
    font-size: 12px;
}

form input[type='email']{
    width: 100%;
    height: 32px;
    padding: 1em;

    border-radius: 2px;
    border: none;
    outline: none;

    background-color: #424669;
    color: #fff;
}
form input[type='password']{
    width: 100%;
    height: 32px;
    padding: 1em;

    
    border-radius: 2px;
    border: none;
    outline: none;

    background-color: #424669;
    color: #fff;
}

                                        /* div 4 */
.div-4{
    /* border: 1px solid orange; */
    width: 40%;

    padding: 0.5em;
    gap: 1em;
    margin: 0em 0em 1em 4.8em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    font-family: MontThin;
    font-size: 10px;
}
.div-4 span{
    /* border: 1px solid orange; */
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input[type='checkbox']{
    margin-right: 0.5em;
}
input[type='checkbox']:hover{
    cursor: pointer;
}
.div-4 p:hover{
    cursor: pointer;
    text-decoration: underline;
}

                                    /* DIV 5 */
.div-5{
    /* border: 1px solid orange; */
    width: 40%;

    padding: 0.5em;
    gap: 1em;
    margin: 0em 0em 1em 3em;
}
.div-5 input[type='submit']{
    width: 50%;
    height: 32px;
    background-color: #F8B179;
    color: #111;

    border-radius: 2px;
    border: none;
    outline: none;

    font-family: MontSbld;
}
.div-5 input[type='submit']:hover{
    cursor: pointer;
    background-color: #CC8E5E;
    transition: .3s all;
}

                                        /* DIV 6 */
.div-6{
    /* border: 1px solid orange; */
    width: 40%;

    padding: 0.5em;
    gap: 1em;
    margin: 1em 0em 1em 3em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.div-6 h5{
    font-family: MontMed;
    color: #fff;
}

.div-6 .fa-brands:hover{
    opacity: 0.6;
    cursor: pointer;
    transition: .2s all;
}

                                        /* Div 7  */
.div-7{
    /* border: 1px solid orange; */
    width: 50%;
    height: max-content;
    margin-left: 5em;
}
img{
    /* border: 1px solid orange; */
    width: 100%;
    height: 90vh;

    border-radius: 10px;


}
