@font-face {
    font-family: MontThin;
    src: url(../fonts/Montserrat-Ace-Light.otf);
}
@font-face {
    font-family: MontReg;
    src: url(../fonts/Montserrat-Ace-Regular.otf);
}
@font-face {
    font-family: MontMed;
    src: url(../fonts/Montserrat-Ace-Medium.otf);
}
@font-face {
    font-family: MontSbld;
    src: url(../fonts/Montserrat-Ace-SemiBold.otf);
}
@font-face {
    font-family: Montbld;
    src: url(../fonts/Montserrat-Ace-Bold.otf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    border: 1px solid red;
    width: 100%;
    height: 100vh;

    background-color: #f5f7f7;

    display: flex;
    justify-content: center;
    align-items: center;

}

                                        /* MAIN  */
.main{
    /* border: 1px solid blue; */
    border-radius: 10px;

    background-color: #1F1E24;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 95%;
    height: 90vh;
    

    box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}
               
                                        /* Div - 1 */
.div-1 ul{
    /* border: 1px solid orange; */
    
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.5em;
    margin: 1.8em 0em 2em 2em;

    width: 90%;
    color: #fff;
    font-family: MontReg;
}
.div-1 ul li{
    list-style-type: none;
}
.div-1 ul li a{
    border: none;
    text-decoration: none;
    color: #fff;

    font-family: MontReg;

    padding: 0.5em;
}
.div-1 ul li a:hover{
    border-bottom: 2px solid #F8B179;
    transition: .1s all;
}

/* COPYRIGHT */
.copy{
    /* border: 1px solid orange; */
    opacity: 0.7;
}

/* ALREADY HOVERED */
#signup{
    border-bottom: 2px solid #F8B179;
}


                                        /* DIV 2 */
.div-2{
    /* border: 1px solid orange; */

    padding: 0.5em;
    margin: 0em 0em 1em 2em;

    width: 50%;
    height: 45vh;

    color: #fff;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

    line-height: 32px;
    gap: 1em;
}
.div-2 h1{
    font-family: MontBld;
    font-size: 32px;
}
.div-2 ul{
    list-style: inside;
    font-family: MontMed;
}

                                            /* DIV 3 */
.div-3{
    /* border: 1px solid orange; */
    width: 40%;
    margin-top: 3em;
}
.div-3 form{
    /* border: 1px solid orange; */

    width: 100%;
    height: auto;

    padding: 0.5em;
    gap: 1em;
    margin: 0em 0em 0em 0em;

    display: flex;
    flex-direction: column;

}
fieldset{
    border: 0.5px solid #F8B179;
    border-radius: 2px;
    padding: 0.5em;
}
legend{
    color: #fff;
    font-family: MontReg;
    font-size: 12px;
}

form #purp{
    resize: none;
    width: 100%;
    height: 70px;
    overflow: hidden;
    padding: 1em;

    border-radius: 2px;
    border: none;
    outline: none;

    background-color: #424669;
    color: #fff;

    font-family: MontReg;
    font-size: 16px;

    line-height: 16px;
    letter-spacing: 1.5px;
}
form #select{
    width: 100%;
    height: 32px;
    padding: 0.2em;

    
    border-radius: 2px;
    border: none;
    outline: none;

    background-color: #424669;
    color: #fff;

    font-family: MontReg;
    font-size: 12px;
}

form input[type='text']{
    width: 100%;
    height: 32px;
    padding: 1em;

    
    border-radius: 2px;
    border: none;
    outline: none;

    background-color: #424669;
    color: #fff;
}


                                    /* DIV 5 */
.div-5{
    /* border: 1px solid orange; */
    width: 40%;

    padding: 0.5em;
    gap: 0.5em;
    margin: 0em 0em 1em 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-5 a{
    width: 100%;
    height: 32px;
    background-color: #F8B179;
    color: #111;

    border-radius: 2px;
    border: none;
    outline: none;

    font-family: MontSbld;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.div-5 a:hover{
    cursor: pointer;
    background-color: #CC8E5E;
    transition: .3s all;
}


